<!DOCTYPE html>
<html>
<head>
  <title>Geoblacklight sidecar images</title>
  <%= stylesheet_link_tag    "geoblacklight_sidecar_images/application", media: "all" %>
  <%= javascript_include_tag "geoblacklight_sidecar_images/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
